{% set title = "PROJET-K " %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ title }} {% block title %}{% endblock %}</title>

    {% stylesheets 'css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
    {% endstylesheets %}
    {% stylesheets 'font-awesome/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
    {% endstylesheets %}
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand confirm" href="{{ path('pk_home_homepage') }}">PROJET-K</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="{% block home_active %}{% endblock %}"><a href="{{ path('pk_home_homepage') }}">Accueil</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prêts <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('pk_pret_lister') }}">Gérer mes prêts</a></li>
                                    <li><a href="{{ path('pk_pret_creer') }}">Créer un pret</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte [ <b>{{ app.user.username }}</b> ]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('sonata_user_profile_show') }}">Visualiser mon profil</a></li>
                                    <li><a href="{{ path('sonata_user_profile_edit_authentication') }}">Modifier ses informations d'identification</a></li>
                                    <li><a href="{{ path('sonata_user_profile_edit') }}">Modifier ses informations personnelles</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                                <li><a href="{{ path('sonata_admin_redirect') }}">Admin</a></li>
                        {% endif %}
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container -->
                    </nav>

                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12">
                                                {% for type, messages in app.session.flashBag.all %}
                                                    {% for message in messages %}
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                                {{ message|trans({}, 'FOSUserBundle') }}
                                    </div>
                                                    {% endfor %}
                                                {% endfor %}
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-12">
                                    <ol class="breadcrumb">
                                        <li><a href="#">Accueil</a>
                                        </li>
                        {% if active_page is defined %}
                                        <li class="active">{{ active_page }}</li>
                        {% endif %}
                                        </ol>
                                    </div>

                                </div>

                                
                        {% block body %}
                        {% endblock %}
                                    
                                </div>
                                <!-- /.container -->

                                <div class="container">

                                    <hr>

                                    <footer>
                                        <div class="row">
                                            <div class="col-lg-12 text-right">
                                                <p>Copyright &copy; PROJET-K - 2014</p>
                                            </div>
                                        </div>
                                    </footer>

                                </div>
                                <!-- /.container -->


                                <!-- JavaScript -->
    {% javascripts 'js/*.js' %}
                                <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
                                <div id="fb-root"></div>
                                <script>
                                    window.fbAsyncInit = function() {
                                        // init the FB JS SDK
                                        FB.init({
                                            appId      : '620298371389074',                        // App ID from the app dashboard
                                            status     : true,                                 // Check Facebook Login status
                                            xfbml      : true                                  // Look for social plugins on the page
                                        });
                                    };

                                    // Load the SDK asynchronously
                                    (function(d, s, id){
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {return;}
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));

                                    function fb_login() {
                                        FB.getLoginStatus(function(response) {
                                            if (response.status === 'connected') {
                                                // connected
                                                $.confirm({
                                                    text: "Vous étiez déjà connecté à Facebook, ce compte à été utilisé pour accéder au site projet-k",
                                                    confirm: function(button) {
                                                        document.location = "{{ path("pk_home_homepage") }}";
                                                    },
                                                    cancel: function(button) {
                                                        document.location = "{{ path("fos_user_security_logout") }}";
                                                    },
                                                    confirmButton: "Continuer",
                                                    cancelButton: "Me déconnecter"
                                                });
                                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                            } else {
                                                // not_authorized
                                                FB.login(function(response) {
                                                    if (response.authResponse) {
                                                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                                                    } else {
                                                        alert('Cancelled.');
                                                    }
                                                }, {scope: 'email'});
                                            }
                                        });
                                    }


                                </script>
                                <script type="text/javascript">
                                    $(".confirm-delete").confirm({
                                        text: "Etes vous sur de vouloir supprimer cet élément?",
                                        title: "Confirmation requise",
                                        confirmButton: "Oui",
                                        cancelButton: "Non",
                                        post: false
                                    });
                                    $(".confirm").confirm();
                                </script>
                            </body>

</html>