{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-lg-12 page-header" >
        <span class="label label-success">Prêt rendu</span>
        <span class="label label-danger">Prêt non rendu</span>
        <span class="label label-warning">Prêt rendu, en attente de confirmation du prêteur</span>
        <span class="label label-info">Objet reprété</span>
    </div>
</div>
<table class="table table-hover">
    
    <tr>
        <th>Objet</th>
        <th>Propriétaire</th>
        <th>Prêteur</th>
        <th>Date emprunt</th>
        <th>Rendu</th>
        <th>Date de rendu</th>
        <th>Repréter</th>
    </tr>
    
    {% for pret in prets %}
        <tr class="{% if pret.rendu and pret.confirme %}success{%elseif pret.rendu and not pret.confirme %}warning{%else%}danger{%endif%}">
            <td>{{ pret.objet }}</td>
            <td>{% if pret.objet.proprietaire.fullname|length > 1 %}
                        {% set username = pret.objet.proprietaire.fullname%}
                    {% else %}
                        {% set username = pret.objet.proprietaire.username%}
                    {%endif%}
                    {{ username }}
            </td>
            <td>
                {% if pret.user.fullname|length > 1 %}
                    {% set username = pret.user.fullname%}
                {% else %}
                    {% set username = pret.user.username%}
                {%endif%}
                {{ username }}
            </td>
            <td>{{ pret.date|date('d-m-Y') }}</td>
            <td>
            {% if pret.rendu %}
                    Oui
                    {% if not pret.confirme %}
                        , en attente de confirmation
                    {% endif %}
            {%else%}
                Non
                    {% if pret.pretEnfant is not null and not pret.pretEnfant.rendu %}
                        <a href="#" class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Impossible de rendre cet objet car vous l'avez reprété et il ne vous a pas encore été rendu.">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                    {% else %}
                        <a href="#" data-id="{{ pret.id }}" data-rendu="{{ pret.rendu }}" class="rendre-objet tooltip-custom" data-toggle="tooltip" data-placement="top" title="Prêt rendu">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    {% endif %}
            {%endif%}</td>
            <td>{% if pret.dateRendu is not null %}{{ pret.dateRendu|date('d-m-Y') }}{%else%}-{%endif%}</td>
            <td>{% if not pret.rendu and pret.pretEnfant is null %}<a href="{{ path("pk_pret_repreter", {"id":pret.id}) }}"><span class="glyphicon glyphicon-share"</span></a>{% endif %}</td>
        </tr>
        {% if pret.pretEnfant is not null %}
        <tr class="info">
            <td></td>
            <td colspan="6">
                <span class="glyphicon glyphicon-chevron-right"></span> Cet objet a été reprété le {{ pret.pretEnfant.date|date('d-m-Y') }}. <a href="{{ path('pk_pret_lister') }}">Accéder à ma liste de prêts</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

<div class="modal fade" id="modal-date-rendu" tabindex="-1" role="dialog" aria-labelledby="modal-date-rendu-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form action="#" method="POST" id="form-date-rendu" class="form-horizontal" role="form">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Date de rendu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="receveur" class="col-sm-4 control-label">A qui rendez vous cet objet</label>
                            <div class="col-sm-8">
                                <select id="receveur" class="form-control">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date-rendu" class="col-sm-4 control-label">Date de rendu :</label>
                            <div class="col-sm-8">
                                <input type="text" value="{{ "now"|date('d-m-Y') }}" id="date-rendu" data-id="" class="form-control datepicker">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              <input type="submit"  class="btn btn-primary" value="Objet rendu"/>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock%}

{% block javascript %}
<script type="text/javascript">
    $(".rendre-objet").click(function(){
        event.preventDefault();
        var id = $(this).attr("data-id");
        var rendu = $(this).attr("data-rendu");
        var urlPattern = "{{ path("pk_pret_rendu", {"id": "000000"}) }}";
        var url = urlPattern.replace("000000", id);
        
        if(!rendu) {
            var urlPatternPreteurs = "{{ path("pk_pret_liste_preteurs", {"id": "000000"}) }}";
            var urlPreteurs = urlPatternPreteurs.replace("000000", id);
            $.ajax({
                url: urlPreteurs, // le nom du fichier indiqué dans le formulaire
                type: "GET", // la méthode indiquée dans le formulaire (get ou post)
                cache: false,
                success: function(data) { // je récupère la réponse du fichier PHP
                    if(data !== "ko") {
                        var object = $.parseJSON(data);
                        console.log(object);
                        $('#receveur')
                            .find('option')
                            .remove()
                            .end();
                        for(var index in object) 
                        { 
                            $("#receveur").append(new Option(object[index], index, true, true));
                        }
                        
                    }
                }
            });
            $('#date-rendu').attr("data-id", id);
            $('#modal-date-rendu').modal('show');
        }
    });
    $("#form-date-rendu").submit(function(){
        event.preventDefault();
        var dateRendu = $("#date-rendu").val();
        var id = $("#date-rendu").attr("data-id");
        {% if hashcode is defined %}
            urlPattern = "{{ path("pk_emprunt_email_rendu_date", {"id": "000000", "date": "PLACEHODER_DATE", "hashcode": hashcode, "user": "1111111"}) }}";
        {% else %}
            urlPattern = "{{ path("pk_emprunt_rendu_date", {"id": "000000", "date": "PLACEHODER_DATE", "user": "1111111"}) }}";
        {% endif %}
            
        var url = urlPattern.replace("000000", id);
        url = url.replace("PLACEHODER_DATE", dateRendu);
        var idUser = $("#receveur option:selected").first().val();
        url = url.replace("1111111", idUser);
        console.log(url);
        document.location = url;
    });
</script>
{% endblock %}